asgiref==3.7.2; python_version >= "3.8"
async-timeout==4.0.3; python_full_version <= "3.11.2" and python_version >= "3.7"
django==4.2.8; python_version >= "3.8"
gunicorn==21.2.0; python_version >= "3.5"
packaging==23.2; python_version >= "3.7"
psycopg2==2.9.9; python_version >= "3.7"
python-decouple==3.8
redis==5.0.1; python_version >= "3.7"
sqlparse==0.4.4; python_version >= "3.8"
typing-extensions==4.9.0; python_version < "3.11" and python_version >= "3.8"
tzdata==2023.4; sys_platform == "win32" and python_version >= "3.8"
