{% extends "./base.html" %}

{% load static %}

{% block content %}

<h1 class="text-center m-4">Cadastro</h1>

<form class="mx-auto m-4" action="{% url 'users:register' %}" method="post" style="max-width: 520px;">

    {% include "snippets/non_field_errors.html" with form=form %}
    {% include "snippets/messages.html" %}

    {% csrf_token %}

    <div class="row">
        <div class="col-sm-12 col-md-6 mb-2">
            {% include "./form_field.html" with field=form.entity %}
        </div>

        <div class="col-sm-12 col-md-6 mb-2">
            {% include "./form_field.html" with field=form.username %}
        </div>

    </div>

    <div class="mb-2">
        {% include "./form_field.html" with field=form.email %}
    </div>

    <div class="row">

        <div class="col-sm-12 col-md-6 mb-2">
            {% include "./form_field.html" with field=form.password1 %}
        </div>

        <div class="col-sm-12 col-md-6 mb-2">
            {% include "./form_field.html" with field=form.password2 %}
        </div>

    </div>

    <div class="mb-2">
        {% include "./form_field.html" with field=form.base_currency %}
    </div>

    <div class="p-2 text-center">
        <button class="btn btn-primary" type="submit">
            <div class="d-flex">
                <span class="material-icons-outlined">person_add</span>
                <span>Cadastrar</span>
            </div>
        </button>
    </div>

    <hr class="mt-2">

    <p class="text-center">
        Já é cadastrado ?
        <a class="fw-bold text-decoration-none text-center" href="{% url 'users:login' %}">
            Fazer Login
        </a>
    </p>

</form>

{% endblock %}