{% extends "./base.html" %}

{% load static %}

{% block content %}

<h1 class="text-center m-4">Cadastro</h1>

<div class="mx-auto" style="max-width: 420px;">
    {% include "snippets/messages.html" %}
</div>

{% include "snippets/non_field_errors.html" with form=form %}

<form class="mx-auto m-4" action="{% url 'users:register' %}" method="post" style="max-width: 520px;">

    {% csrf_token %}
  
    <div class="row">
        <div class="col-sm-12 col-md-6 mb-2">
             <label for="{{form.entity.id_for_label}}" class="form-label">{{form.entity.label}}</label>
             {{form.entity}}
             {% include "snippets/field_errors.html" with field=form.entity %}
         </div>
     
        <div class="col-sm-12 col-md-6 mb-2">
             <label for="{{form.username.id_for_label}}" class="form-label">{{form.username.label}}</label>
             {{form.username}}
             {% include "snippets/field_errors.html" with field=form.username %}
         </div>

    </div>

    
    <div class="mb-2">
        <label for="{{form.email.id_for_label}}" class="form-label">{{form.email.label}}</label>
        {{form.email}}
        {% include "snippets/field_errors.html" with field=form.email %}
    </div>

    <div class="row">
        
           <div class="col-sm-12 col-md-6 mb-2">
                <label for="{{form.password1.id_for_label}}" class="form-label">{{form.password1.label}}</label>
                {{form.password1}}
                {% include "snippets/field_errors.html" with field=form.password1 %}
            </div>
        
           <div class="col-sm-12 col-md-6 mb-2">
                <label for="{{form.password2.id_for_label}}" class="form-label">{{form.password2.label}}</label>
                {{form.password2}}
                {% include "snippets/field_errors.html" with field=form.password2 %}
            </div>

    </div>

   <div class="mb-2">
        <label for="{{form.base_currency.id_for_label}}" class="form-label">{{form.base_currency.label}}</label>
        {{form.base_currency}}
        {% include "snippets/field_errors.html" with field=form.base_currency %}
    </div>

    <div class="p-2 text-center">
        <button class="btn btn-primary" type="submit">
            <div class="d-flex">
              <span class="material-icons-outlined">person_add</span>
              <span>Cadastrar</span>
            </div>
          </button>
    </div>

    <hr class="mt-2 pb-1 bg-dark bg-opacity-10 shadow">

    <p class="text-center">
        Já é cadastrado ? <a class="fw-bold text-dark text-decoration-none text-center" href="{% url 'users:login' %}">Fazer Login</a>
    </p>

</form>


{% endblock %}