{% extends "./base.html" %}

{% load static %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="mt-4">

  <h1 class="text-center">EquiBook</h1>

  <form class="mx-auto" action="{% url 'users:login' %}" method="post" style="max-width: 390px;">

    {% csrf_token %}

    {% include "snippets/non_field_errors.html" with form=form %}
    {% include "snippets/messages.html" %}

    <div class="mb-2">
      {% include "./form_field.html" with field=form.username %}
    </div>

    <div class="mb-2">
      {% include "./form_field.html" with field=form.password %}
    </div>

    <div class="p-2 text-center">
      <button class="btn btn-primary" type="submit">
        <div class="d-flex">
          <span class="material-icons-outlined me-1">login</span>
          <span>Login</span>
        </div>
      </button>
    </div>

    <hr class="mt-2">

    <div>
      Ainda não é cadastrado ?
      <a class="fw-bold text-decoration-none" href="{% url 'users:register' %}">Cadastre-se</a>
    </div>

  </form>

</div>
{% endblock %}