{% load humanize %}

{% load to_current_currency %}

<a class="btn btn-light btn-icon shadow-sm" title="Remover" href="#" data-bs-toggle="modal"
  data-bs-target="#delete-operation-{{operation.id}}">
  <span class="material-icons-outlined">delete</span>
</a>
<div class="modal fade {% if DARK_MODE %}bg-dark bg-opacity-25{% endif %}" id="delete-operation-{{operation.id}}"
  tabindex="-1" aria-labelledby="remove-operation-{{operation.id}}-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content {% if DARK_MODE %}bg-dark bg-opacity-80 border-secondary{% endif %}">
      <div class="modal-header {% if DARK_MODE %}border-secondary{% else %}{% endif %}">
        <h5 class="modal-title" id="remove-operation-{{operation.id}}-label">
          Confirmação de exclusão
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-start">
        <p class="m-1">Tem certeze que deseja remover esta a operação ?</p>
        <p class="m-1"><strong>Data</strong>: {{operation.date}}</p>
        <p class="m-1"><strong>Conta</strong>: {{operation.account_name}}</p>
        <p class="m-1"><strong>Débito</strong>: {{operation.debit|to_current_currency:app_settings|intcomma}}</p>
        <p class="m-1"><strong>Crédito</strong>: {{operation.credit|to_current_currency:app_settings|intcomma}}</p>
        <p class="m-1"><strong>Tipo de Operação</strong>: {{operation.get_type_display}}</p>
        <p class="m-1"><strong>Saldo</strong>: {{operation.account_balance|to_current_currency:app_settings|intcomma}}
          <span class="badge {% if DARK_MODE %}bg-secondary{% else %}bg-primary{% endif %}">
            {{app_settings.current_currency.label}}
          </span>
        </p>
      </div>
      <div class="modal-footer {% if DARK_MODE %}modal-footer border-secondary{% endif %}">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
        <form action="{% url 'core:operation-delete' pk=operation.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Sim</button>
        </form>
      </div>
    </div>
  </div>
</div>