{% extends "core/base.html" %}

{% load humanize %}

{% load to_current_currency %}

{% block head_title %}{{account.name}}{% endblock %}

{% block content %}

<h1 class="h2 pt-4 text-center">{{account.name}}</h1>

<ul class="nav justify-content-center mb-4">

  {% if account.parent %}
  <li class="nav-item">
    <a href="{% url 'core:account-detail' pk=account.parent.pk %}"
      class="btn btn-light btn-icon shadow-sm  border-0 mx-1">
      <span class="material-icons-outlined">chevron_left</span>
    </a>
  </li>
  {% endif %}

  <li class="nav-item">
    <a href="{% url 'core:account-create' parent_id=account.pk %}"
      class="btn btn-light btn-icon shadow-sm  border-0 mx-1" title="Novo desdobramento">
      <span class="material-icons-outlined">create_new_folder</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="btn btn-light btn-icon shadow-sm border-0 mx-1" title="Editar conta"
      href="{% url 'core:account-update' pk=account.pk %}">
      <span class="material-icons-outlined">settings</span>
    </a>
  </li>

</ul>

<div class="row">

  <div 
    class="col-sm-5 col-md-4 align-self-start {% if DARK_MODE %}bg-secondary bg-opacity-25 px-0 rounded text-white{% else %}shadow px-0 rounded{% endif %}"
    style="min-height: 60vh;overflow-x: scroll">
    
    <p class="fs-5 fw-bold text-center p-2 text-white rounded-top {% if DARK_MODE %}bg-secondary bg-opacity-50 {% else %}bg-primary{% endif %}">
      Desdobramentos
    </p>
    
    <ul class="nav justify-content-center flex-column">
      {% for parent in account.account_set.all %}
      <li class="nav-item my-1">
        <a 
        {% if DARK_MODE %}
        class="nav-link d-flex justify-content-between text-white" 
        {% else %}
        class="nav-link d-flex justify-content-between text-dark" 
        {% endif %}
        href="{% url 'core:account-detail' pk=parent.pk %}">
          {{parent.name}} 
          <small class="badge {% if DARK_MODE %}bg-dark{% else %}bg-primary{% endif %}">
          {{parent.total_account_balance|to_current_currency:app_settings|intcomma}}
        </small>
        </a>
      </li>
      {% empty %}
      <li class="nav-item my-1">
        <p class="text-center">Não há desdobramentos para esta conta.</p>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="col">
    <div class="rounded {% if DARK_MODE %}bg-secondary bg-opacity-25{% else %}shadow{% endif %}" style="height: 60vh;overflow-x: scroll">
      <table class="table {% if DARK_MODE %}table-dark{% endif %}">
        <thead>
          <tr class="fs-5 fw-bold p-2 {% if DARK_MODE %} bg-secondary bg-opacity-50 {% else %} fs-5 fw-bold bg-primary {% endif %}">
            <th class="bg-transparent text-white" colspan="1">Lista de Transações</th>
            <th class="bg-transparent text-white" colspan="2">D|C</th>
          </tr>
        </thead>
  
        <tbody>
          {% for transaction in transactions %}
          
          <tr>
            <td {% if DARK_MODE %} class="bg-transparent border-dark text-white" {% endif %}>
              {{transaction.title}}
            </td>
            <td {% if DARK_MODE %} class="bg-transparent border-dark text-white" {% endif %}>
              {{transaction.debit_sum|to_current_currency:app_settings|intcomma}} / {{transaction.credit_sum|to_current_currency:app_settings|intcomma}}
            </td>
            <td {% if DARK_MODE %} class="text-end bg-transparent border-dark text-white"  {% else %} class="text-end"{% endif %}>           
              <a class="btn btn-sm btn-icon" title="Balanço" href="{% url 'core:trial-balance' pk=transaction.id %}">
                <span title="Balanço" class="material-icons-outlined">event_note</span>
              </a>
              <a class="btn btn-sm btn-icon" title="Detalhes" href="{% url 'core:transaction-detail' pk=transaction.id %}">
                <span class="material-icons-outlined">
                  file_open
                </span>
              </a>
              <a class="btn btn-sm btn-icon" title="Editar" href="{% url 'core:transaction-update' pk=transaction.id %}">
                <span class="material-icons-outlined">
                  edit
                </span>
              </a>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td {% if DARK_MODE %} class="text-center bg-transparent border-dark text-white" {% else %} class="text-center" {% endif %} colspan="2">
              Nenhuma transação foi realizada para esta conta.
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>
</div>
{% endblock %}