{% load static %}
<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="dark">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>EquiBook - {% block head_title %}{% endblock%}</title>
  <link href="{% static 'dist/main.css' %}" rel="stylesheet">
</head>

<body>
  <header class="container-fluid mb-4 bg-secondary bg-opacity-10">
    <div class="container">
      {% include "core/navbar.html" %}
    </div>
  </header>

  <main class="container">
    <div class="mx-auto">
      {% include "snippets/messages.html" %}
    </div>
    {% block content %}
    <!-- Page Content -->
    {% endblock %}
  </main>

  <script src="{% static 'dist/main.js' %}"></script>

</body>

</html>